<ion-header>
  <ion-navbar>
  	<ion-buttons start>
      <button ion-button icon-only (click)="loaddefaultuser()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
    <ion-title>Home</ion-title>
     <ion-buttons end>
      <button ion-button icon-only (click)="show()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

   

  

</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>

  <ion-list>

  <ion-item>
    <ion-label fixed>Username</ion-label>
    <ion-input [(ngModel)]="username" type="text" value=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>Password</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>

</ion-list>

<ion-list radio-group>
  <ion-list-header>
    Language
  </ion-list-header>

  <ion-item *ngFor="let item of languages">
    <ion-label>{{item}}</ion-label>

    <ion-radio *ngIf=" item == 'Go'" checked="true" value={{item}}></ion-radio>
    <ion-radio *ngIf=" item != 'Go'" value={{item}}></ion-radio>

  </ion-item>

</ion-list>

<button ion-button icon-left (click)="clicked()">
  <ion-icon name="home"></ion-icon>
  Left Icon
</button>


</ion-content>
